@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --netflix-red: 357 92% 47%;
  --netflix-black: 0 0% 8%;
  --netflix-dark: 0 0% 11%;
}

.dark {
  --background: 0 0% 0%;
  --foreground: 0 0% 98%;
  --card: 0 0% 3.9%;
  --card-foreground: 0 0% 98%;
  --popover: 0 0% 3.9%;
  --popover-foreground: 0 0% 98%;
  --primary: var(--netflix-red);
  --primary-foreground: 0 0% 98%;
  --secondary: var(--netflix-black);
  --secondary-foreground: 0 0% 98%;
  --muted: 0 0% 14.9%;
  --muted-foreground: 0 0% 63.9%;
  --accent: 0 0% 14.9%;
  --accent-foreground: 0 0% 98%;
  --destructive: 0 62.8% 30.6%;
  --destructive-foreground: 0 0% 98%;
  --border: 0 0% 14.9%;
  --input: 0 0% 14.9%;
  --ring: var(--netflix-red);
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.hero-gradient {
  background: linear-gradient(
    to top,
    rgb(0 0 0) 0%,
    rgb(0 0 0 / 40%) 60%,
    rgb(0 0 0) 100%
  );
}